/* avarage_css start */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

h3 {
    font-size: 30px;
    color: #151414;
}

article {
    color: #444343;
}

.container {
    width: 1140px;
    margin: auto;
}

/* avarage_css end */

/* header_area css start */
.header_area {
    height: 100vh;
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* header_area css end */

/* failures_area css start */
/* failures_area css end */

/* success_area css start */


/* success_area css end */

/* plans_area css start */
/* plans_area css end */

/* call_to_action_area css start */
/* call_to_action_area css end */

/* footer_area css start */
/* footer_area css end */